.form{
    background-color: #cbd0cc;
    width: 50%;
}
.label{
    margin-right: 30px;
}
.labelInput{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
 margin: 0 auto;
}
.bookFormList{
    display: flex;
    flex-direction: row;
}
table{
    border: 1px solid;
    padding:5px;
  }
 th{
    border: 1px solid;
    margin-right: 10px; 
  }
