*{
    margin: 0px;
    padding: 0px;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form{
    background-color: #cbd0cc;
    width: 50%;
}
.label{
    margin-right: 30px;
    display: inline-block;
    width: 150px;
    text-align: left;
}
input{
    width: 150px;
    height: 25px;
}
.labelInput{
    margin-top: 10px;
    margin-bottom: 10px;
}
.bookFormList{
    display: flex;
    flex-direction: column;
}
 table{
    border-collapse: collapse;
    /* width: 50%; */
    /* margin: 5px; */
  
  }
  #table,#table tr {
    border-top: 1px solid;
    
  }
  #table{
    border-spacing: 0;
    /* width: 50%; */
  }
  #table td,#table th{
    padding: 0.6em;
    text-align: center;
  }
  th{
    border-collapse: collapse;
    font-size: 15px;
    font-variant: normal;
    color: black;
    /* background-color: #34d5eb; */
    background-color: #cbd0cc;


  }
  td{
    border-collapse: collapse;
    text-align: center;
    background-color: #cbd0cc;
  }
  .addButton{
    border: none;
    background: #3498eb;
    margin-bottom: 5px;
    color: white;
    padding: 1px 2px 1px 2px;
    border-radius: 2px;
  }
