{
	"env": {
		"browser": true,
		"es2021": true,
		"jest": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"airbnb",
		"airbnb/hooks",
		"plugin:jest/recommended"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"overrides": [],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"react/jsx-no-bind": [0, {
			"allowArrowFunctions": true,
			"allowFunctions": true
		  }],
		"react/react-in-jsx-scope": "off",
		"react/jsx-props-no-spreading": "off",
		"no-mixed-spaces-and-tabs": 0,
		"indent": [
			"error",
			2
		],
		"linebreak-style": 0,
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"jsx-a11y/label-has-associated-control": [
			"error",
			{
				"required": {
					"some": [
						"nesting",
						"id"
					]
				}
			}
		],
		"jsx-a11y/label-has-for": [
			"error",
			{
				"required": {
					"some": [
						"nesting",
						"id"
					]
				}
			}
		]
	}
}